h1{
    background-color: #ccc;
    color: #080808;
    text-align: center;
    margin-right: 30%;
    width: 30%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f0f0f0; /* רקע אפור לטבלה */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* פינות מעוגלות לטבלה */
    overflow: hidden; /* כדי שהפינות המעוגלות יעבדו נכון */
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background-color: #014D46;
    color: #fff;
}
td.holiday {
    background-color: #91f0a6;
}
td.exam {
    background-color: #ccffcc;
}
